.parent {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    
  }
  
  .child1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15vw;
    background-color: rgb(8, 8, 104);
    color:white;
  }
  .child2{
    background: rgb(233, 218, 218);
  }
  
  
